div {
  border-radius: 20px;
  background-color: #edf2f4;
  padding: 30px;
  margin: 10px;
  color: #2B2D42;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
  text-align: justify;
  gap: 20px;
  overflow-y: auto;
  max-height: 200px;
}

.modal-header {
  display: flex;
  flex-direction: row;
}

.modal-title {
  flex-grow: 6;
}
