div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-info {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-info p {
  margin: 0;
}

.user-info p:nth-child(1) {
  font-size: 24px;
  padding-bottom: 5px;
}
