<fa-icon [icon]="icon" title="Remove user" (click)="open(content)"></fa-icon>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove User</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(userName.value, userRole.value)" #loginForm="ngForm">
      <div class="user-name">
        <label for="user-name">User's name:</label>
        <input type="text" id="user-name" name="user-name" ngModel required #userName>
      </div>
      <div class="user-role">
        <label for="user-role">User's role:</label>
        <select id="user-role" name="user-role" ngModel required #userRole>
          <option>Administrator</option>
          <option>Moderator</option>
          <option selected>Student</option>
        </select>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!loginForm.valid">Delete</button>
      </div>
    </form>
  </div>
</ng-template>
