:host{
  justify-self: center;
}

form {
  border-radius: 20px;
  background-color: #edf2f4;
  padding: 30px;
  margin: 10px;
  color: #2B2D42;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  background-color: #8D99AE;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .1);
  transition: 0.3s;
  cursor: pointer;
}
