<div class="messages">
  <div #scrollMe class="msg_history">
    <ng-container *ngFor="let message of groupDataService.groupMessagesAsync| async">
      <app-message
        [id] = "message.id"
        [groupId]="message.groupId"
        [userId]="message.userId"
        [message]="message.message"
        [userName]="message.userName"
        [timestamp]="message.timestamp">
      </app-message>
    </ng-container>
  </div>

  <div class="type_msg">
    <div class="input_msg_write">
      <input (keydown.enter)="sendMessage()" [(ngModel)]="inputMessage" type="text"
             placeholder="Type a message" />
      <button [disabled]="inputMessage.trim().length == 0" (click)="sendMessage()" class="msg_send_btn" type="button">
        <p>Send</p>
      </button>
    </div>
  </div>
</div>

