* {
  color: #EDF2F4;
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8D99AE;
}

h1 {
  margin-bottom: 40px;
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

.login-container {
  max-width: 600px;
  padding: 3% 6%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2B2D42;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: x-large;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

button {
  background-color: #8D99AE;
  height: 30px;
  font-size: medium;
  margin-top: 20px;
}

input {
  color: #8D99AE;
  font-size: large;
}

.errors {
  max-width: 600px;
  padding: 6%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -153%);
  background-color: #2B2D42;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
  z-index: 6;
  display: none;
}
