.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
