<!-- login.component.html -->
<div class="container">
  <ul class="errors" *ngIf="this.registerError != ''">
    <li>{{ this.registerError }}</li>
  </ul>
  <div class="login-container">
    <h1>SPlace</h1>
    <h2>Registration</h2>
    <form (ngSubmit)="register(username.value, password.value, email.value, passwordCheck.value)" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ngModel required #username>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel required #password>
      </div>
      <div class="form-group">
        <label for="password">Repeat the password</label>
        <input type="password" id="passwordCheck" name="password" ngModel required #passwordCheck>
      </div>
      <div class="form-group">
        <label for="password">Email</label>
        <input type="email" id="email" name="password" ngModel #email>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!loginForm.valid">Register</button>
        <button type="submit" (click)="goToLogin()">I have an account!</button>
      </div>
    </form>
  </div>
</div>


