<div class="message-container">
  <div class="message-header" >
    <strong class="message-sender">{{ userName }}</strong>
    <small class="message-timestamp">{{ timestamp | date: 'shortTime' }}</small>
  </div>

  <div *ngIf="!isEditing">
    <div class="message-content" >
      <p>{{ message }}</p>
    </div>
    <div class="message-actions">
      <p *ngIf="this.isEdited">Edited</p>
      <button class="edit-btn" (click)="toggleEdit()" *ngIf="this.own">Edit</button>
      <button class="delete-btn" (click)="deleteMessage()" *ngIf="this.own">Delete</button>
    </div>
  </div>

  <div *ngIf="isEditing">
    <div class="message-content">
      <input [(ngModel)]="editableMessage" class="edit-input" />
    </div>
    <div class="message-actions">
      <button class="save-btn" (click)="editMessage()">Save</button>
      <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>
