<button (click)="open(content)">
  Change status
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change status</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(changeStatus)" #changeStatus="ngForm">
      <div class="new-status">
        <label for="new-status">New status:</label>
        <input type="text" id="new-status" name="newStatus" ngModel required>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!changeStatus.valid">Change</button>
      </div>
    </form>
  </div>
</ng-template>
