:host {
  flex-grow: 6;
  height: 65vh;
  font-size: 23px;
}

img {
  max-width: 100%;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p, .sent_msg p {
  background-color: #edf2f4;
  color: #2B2D42;
  border-radius: 3px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  overflow-x: auto;
}

.received_withd_msg p {
  text-align: left;
}

.sent_msg p {
  text-align: right;
}

.time_date {
  color: #747474;
  display: block;
  margin: 8px 0 6px;
}

.received_withd_msg {
  width: 40%;
}

.mesgs {
  float: left;
  padding: 40px 30px 10px;
  width: 90%;
}


.outgoing_msg {
  overflow: hidden;
  margin: 8px 0 8px;
}

.sent_msg {
  color: #edf2f4;
  float: right;
  width: 40%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll;
  border: none;
  color: #2B2D42;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 2px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #edf2f4 none repeat scroll 0 0;
  color: #2B2D42;
  border: none;
  cursor: pointer;
  height: 33px;
  position: absolute;
  right: 4px;
  top: 8px;
  width: 8vh;
  transition: 0.3s;
  border-radius: 30px;
}

.msg_send_btn:hover {
  background: #2B2D42 none repeat scroll 0 0;
  color: #edf2f4;
  transition: 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 72vh;
  overflow-y: auto
}

input {
  border: none;
}
