<h2 mat-dialog-title>Change password</h2>
<form (ngSubmit)="onSubmit(changePassword)" #changePassword="ngForm">
  <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput type="password" id="new-password" name="newPassword" ngModel required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Submit new password</mat-label>
        <input matInput type="password" id="submit-new-password" name="submitNewPassword" ngModel required>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changePassword.valid">Change</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>

