<h2 mat-dialog-title>Change user's role</h2>
<form (ngSubmit)="onSubmit(changeRole)" #changeRole="ngForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <input matInput type="text" id="user-name" name="userName" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>New role</mat-label>
      <mat-select id="user-role" name="userRole" ngModel required>
        <mat-option value="1">Administrator</mat-option>
        <mat-option value="2">Moderator</mat-option>
        <mat-option value="3">Participant</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changeRole.valid">Change</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>


