<div class="container">
  <div class="login-container">
    <h1>SPlace</h1>
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)] = "user.username" required>
      </div>
        <label for="password">Password</label>
        <input [type]="hide() ? 'password' : 'text'" name="password" id="password" [(ngModel)] = "user.password" required placeholder="Your password">
<!--        <mat-label>Enter your password</mat-label>-->
<!--        <input [type]="hide() ? 'password' : 'text'" name="password" id="password" [(ngModel)] = "user.password" required placeholder="Your password">-->
<!--        <button-->
<!--          mat-icon-button-->
<!--          matSuffix-->
<!--          (click)="clickEvent($event)"-->
<!--          [attr.aria-label]="'Hide password'"-->
<!--          [attr.aria-pressed]="hide()"-->
<!--        >-->
<!--          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--        </button>-->
      <div class="buttons">
        <button appHover type="submit" [disabled]="loginForm.invalid">Login</button>
        <button appHover type="submit" (click)="goToRegistration()">Create an account!</button>
      </div>
    </form>
  </div>
</div>
