<button (click)="open(content)">
  Change password
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change password</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(changePassword)" #changePassword="ngForm">
      <div class="new-password">
        <label for="new-password">New password:</label>
        <input type="text" id="new-password" name="newPassword" ngModel required>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!changePassword.valid">Change</button>
      </div>
    </form>
  </div>
</ng-template>
