<div class="quiz-editor" *ngIf="!isLoading">
  <form [formGroup]="quizForm" (ngSubmit)="onEdit()">

    <mat-form-field class="full-width">
      <mat-label>Quiz Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter quiz name">
    </mat-form-field>

    <div formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-box">
        <mat-form-field class="full-width">
          <mat-label>Question {{ i + 1 }}</mat-label>
          <input matInput formControlName="question" placeholder="Enter question">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Question type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="0" (click)="addSingleAnswer(i)">Single Answer</mat-option>
            <mat-option [value]="1" (click)="removeSingleAnswer(i)">Multiple Answer</mat-option>
          </mat-select>
        </mat-form-field>
          @if (question.get('type')?.value == 0) {
            <mat-radio-group class="answer-box" formControlName="selectedAnswer">
              <div formArrayName="answers">
                <div *ngFor="let answer of getAnswers(i).controls; let j = index" [formGroupName]="j">
                  <mat-form-field class="answer-field">
                    <mat-label>Answer {{ j + 1 }}</mat-label>
                    <input matInput formControlName="answer" placeholder="Enter answer">
                  </mat-form-field>

                  <mat-radio-button [value]="answer.get('answer')?.value || false" [checked]="answer.get('status')?.value || false">Correct Answer</mat-radio-button>

                  <button mat-icon-button color="warn" (click)="removeAnswer(i, j)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-radio-group>
            <button mat-raised-button color="primary" (click)="addAnswer(i)">
              Add Answer
            </button>
          } @else {
            <div formArrayName="answers">
              <div *ngFor="let answer of getAnswers(i).controls; let j = index" [formGroupName]="j" class="answer-box">
                <mat-form-field class="answer-field">
                  <mat-label>Answer {{ j + 1 }}</mat-label>
                  <input matInput formControlName="answer" placeholder="Enter answer">
                </mat-form-field>

                <mat-checkbox formControlName="status">Correct Answer</mat-checkbox>

                <button mat-icon-button color="warn" (click)="removeAnswer(i, j)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <button mat-raised-button color="primary" (click)="addAnswer(i)">
              Add Answer
            </button>
          }
        <button mat-icon-button color="warn" (click)="removeQuestion(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>

    </div>

    <div class="action-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="!quizForm.valid">Save Quiz</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
