<h2 mat-dialog-title>Change password</h2>
<form (ngSubmit)="onSubmit()"
      [formGroup]="newPasswordForm">
  <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput
               type="password"
               formControlName="newPassword"
               required>
        <mat-error *ngIf="newPasswordForm.get('newPassword')?.invalid && newPasswordForm.get('newPassword')?.touched">
          Password must contain from 8 to 25 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Submit new password</mat-label>
        <input matInput
               type="password"
               formControlName="submitNewPassword"
               required>
        <mat-error *ngIf="newPasswordForm.get('submitNewPassword')?.invalid && newPasswordForm.get('submitNewPassword')?.touched">
          Password must contain from 8 to 25 characters.
        </mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            type="submit" [disabled]="newPasswordForm.invalid || newPasswordForm.disabled">Change</button>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="dialogRef.close()"
            [disabled]="newPasswordForm.disabled">Cancel</button>
  </mat-dialog-actions>
</form>

