.main-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-page div {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

.main-info {
  display: flex;
  flex-direction: column;
}
