mat-toolbar h1 {
  padding: 0 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}

#sidenav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidenav-wrapper button {
  margin-top: 0.5rem;
}

mat-sidenav-container {
  height:100%;
}

mat-sidenav h3 {
  height: 10%;
  font-size: 3rem;
  padding: 0.5rem;
  display: block;
}

mat-sidenav-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a fa-icon {
  padding-right: 16px;
}

a span, a fa-icon  {
  font-size: 1.25rem;
}
