<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Groups</mat-toolbar>
    <mat-nav-list>
        <a *ngFor="let group of userDataService.getUserGroups() | async" [routerLink]="['/main/group', group.id]">
          {{ group.name }}
        </a>
      <app-create-group></app-create-group>
    </mat-nav-list>
    <button>
      <a [routerLink]="['/main/options']">Options</a>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">people</mat-icon>
      </button>
      }
      <div id="main-header">
        <span [routerLink]="['/main']">SPlace</span>
        <app-log-out></app-log-out>
      </div>
    </mat-toolbar>
    <div class="main-info">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
