<div class="quizzes-container">
  <h3> Quizzes </h3>
  <ul>
    <div>
      <div class="quiz-list" *ngFor="let quiz of groupDataService.quizzesListAsync | async">
<!--        <li (click)="onQuizOpened(quiz-list, quizContent)">{{quiz-list.name}}</li>-->
<!--        <fa-icon [icon]="trash" title="Remove quiz-list" (click)="openConfirmationDialog(quiz-list)"></fa-icon>-->
      </div>
    </div>
<!--    <div><p (click)="onAddQuiz(newQuizContent)">Add quiz</p></div>-->
  </ul>
</div>

<!--<ng-template #newQuizContent let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title">New Quiz</h4>-->
<!--    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form (ngSubmit)="onSubmitNewQuiz()" [formGroup]="newQuizForm">-->
<!--      <div class="form-group">-->
<!--        {{this.newQuizForm.value | json}}-->
<!--        <h5>New quiz's name:</h5>-->
<!--        <input formControlName="name" type="text" id="quiz-name" name="quiz-name">-->
<!--        <h5 style="padding-top: 22px">Questions:</h5>-->
<!--        <div formArrayName="questions">-->
<!--          <div *ngFor="let questionControl of questions.controls; let questionIndex = index">-->
<!--            <hr/>-->
<!--              <div [formGroupName]="questionIndex">-->
<!--                <label for="question{{questionIndex}}">Question {{questionIndex + 1}}:</label>-->
<!--                <input formControlName="question" type="text" placeholder="Your question" id="question{{questionIndex}}">-->
<!--                <button class="delete-button" (click)="onDeleteQuestion(questionIndex)">Delete</button>-->
<!--                <div *ngIf="answers(questionControl)?.length != 0">-->
<!--                  <div formArrayName="answers">-->
<!--                    <div *ngFor="let answersControl of answers(questionControl).controls; let answerIndex = index">-->
<!--                      <hr/>-->
<!--                      <div [formGroupName]="answerIndex">-->
<!--                        <label for="answer{{questionIndex}}{{answerIndex}}">Answer {{answerIndex + 1}}:</label>-->
<!--                        <input formControlName="answer" type="text" placeholder="Your answer" id="answer{{questionIndex}}{{answerIndex}}">-->
<!--                        <label for="status{{questionIndex}}{{answerIndex}}">Correct:</label>-->
<!--                        <input formControlName="status" type="checkbox" id="status{{questionIndex}}{{answerIndex}}">-->
<!--                        <button class="delete-button" (click)="onDeleteAnswer(answerIndex, questionControl)">Delete</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div><p (click)="onAddAnswers(questionControl)">Add Answers</p></div>-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div><p (click)="onAddQuestion()">Add Question</p></div>-->
<!--      </div>-->
<!--      <div class="buttons">-->
<!--        <hr/>-->
<!--        <button type="submit" [disabled]="!newQuizForm.valid" class="submit-button">Add new quiz</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template #quizContent let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title-2">{{ quizModel.name }}</h4>-->
<!--    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <form [formGroup]="newQuizForm" (ngSubmit)="onSubmitQuizAnswered(result)">-->
<!--    <div formArrayName="questions">-->
<!--      <div *ngFor="let questionControl of questions.controls; let questionIndex = index">-->
<!--        <div [formGroupName]="questionIndex">-->
<!--          <h3>{{ questionIndex + 1 }}. {{questionControl.get('question')?.value}}</h3>-->
<!--          <div *ngIf="answers(questionControl)?.length != 0">-->
<!--            <div formArrayName="answers">-->
<!--              <div *ngFor="let answersControl of answers(questionControl).controls; let answerIndex = index">-->
<!--                <div [formGroupName]="answerIndex">-->
<!--                  <input formControlName="status" type="checkbox" id="status{{questionIndex}}{{answerIndex}}">-->
<!--                  <span>{{answerIndex + 1}}. {{ answersControl.get('answer')?.value }}</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr/>-->
<!--      </div>-->
<!--      <div class="buttons">-->
<!--        <button type="submit" [disabled]="!newQuizForm.valid" class="submit-button">Submit quiz</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</ng-template>-->

<!--<ng-template #result let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title-3">Your result:</h4>-->
<!--    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <h4 style="text-align: center">You scored {{getUserScore}} point(s) on this quiz!</h4>-->
<!--</ng-template>-->

