<div class="quizzes-container">
  <h3> Quizzes </h3>
  <ul>
    <div>
      <div class="quiz-list" *ngFor="let quiz of groupDataService.quizzesListAsync | async">
        <li [routerLink]="['/main/group', quiz.groupId, 'quiz', quiz.id]">{{quiz.name}}</li>

        <div *ngIf="isCreator|| isAdministrator">
          <button mat-button (click)="openEditQuizDialog(quiz.id)">Edit Quiz</button>
          <button mat-button color="warn" (click)="openDeleteDialog(quiz.name, quiz.id)">Delete Quiz</button>
        </div>
      </div>
    </div>
    <button (click)="createQuiz()">Create quiz</button>
  </ul>
</div>
