<fa-icon [icon]="icon" title="Rename group" (click)="open(content)"></fa-icon>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rename group</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(renameGroup)" #renameGroup="ngForm">
      <div class="group-name">
        <label for="group-name">New group name:</label>
        <input type="text" id="group-name" name="groupName" ngModel required>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!renameGroup.valid">Rename</button>
      </div>
    </form>
  </div>
</ng-template>
