<h2 mat-dialog-title>Rename group</h2>
<form (ngSubmit)="onSubmit(renameGroup)" #renameGroup="ngForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Group's new name</mat-label>
      <input matInput type="text" id="group-name" name="groupName" ngModel required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!renameGroup.valid">Rename</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>

