<fa-icon class="toggle-btn fa-3x fa-solid" style="color: #8D99AE" (click)="toggleMenu()" [icon]="menuIcon" title="Groups' options"></fa-icon>

<div class="menu" *ngIf="menuSliding == 'out'">
  <ul>
    <li *ngFor="let group of this.groupsData">
        <fa-icon [icon]="groupIcon"></fa-icon>
      <a [routerLink]="['/main/group', group.name[0], group.id]" (click)="goToGroup()"> {{ group.name }}
      </a>
    </li>
    <div><p (click)="open(content)">Add group</p></div>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Group</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(groupName.value)" #loginForm="ngForm">
      <div class="form-group">
        <label for="group-name">New group's name:</label>
        <input type="text" id="group-name" name="group-name" ngModel required #groupName>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!loginForm.valid">Add</button>
      </div>
    </form>
  </div>
</ng-template>

