.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #8D99AE;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  margin-left: 11vh;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}
.toggle-btn {
  padding-top: 16px;
  cursor: pointer;
}
.toggle-btn span {
  width: 40px;
  height: 6px;
  background-color: #8D99AE;
  display: block;
  margin-top: 4px;
}

ul p {
  text-align: center;
  background-color: #2B2D42;
  margin: 20px 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

ul p:hover {
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .1);
  transition: 0.3s;
}
