<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <h1>{{ quizForm.get('name')?.value }}</h1>

  <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index">
    <div [formGroupName]="i">
      <h3>Question {{ i + 1 }}: {{ question.get('question')?.value }}</h3>

      <div *ngIf="question.get('type')?.value === Question.SingleAnswer">
        <div *ngFor="let answer of getAnswers(i).controls; let j = index">
          <input
            type="radio"
            formControlName="selectedAnswer"
            [value]="answer.get('answer')?.value"
            id="questions{{i}}-answer{{j}}" />
          <label for="questions{{i}}-answer{{j}}">{{ answer.get('answer')?.value }}</label>
        </div>
      </div>

      <div *ngIf="question.get('type')?.value !== Question.SingleAnswer">
        <div formArrayName="answers" *ngFor="let answer of getAnswers(i).controls; let j = index">
          <div [formGroupName]="j">
            <input
              type="checkbox"
              formControlName="status" />
            <label>{{ answer.get('answer')?.value }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="!quizForm.valid">Submit Quiz</button>
</form>
