<button (click)="open(content)">
  Change username
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change username</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(changeUsername)" #changeUsername="ngForm">
      <div class="new-username">
        <label for="new-username">New username:</label>
        <input type="text" id="new-username" name="newUsername" ngModel required>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!changeUsername.valid">Change</button>
      </div>
    </form>
  </div>
</ng-template>
