mat-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-wrapper{
  min-width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-item-wrapper a {
  text-decoration: none;
  font-size: 1rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-list {
  height: 100%;
  width: 100%;
  max-height: 20vh;
  overflow: auto;
}
