<fa-icon [icon]="icon" title="Rename group's name" (click)="open(content)"></fa-icon>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New name for the group: </h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(groupName.value)" #loginForm="ngForm">
      <div class="group-name">
        <label for="group-nam">Group's name:</label>
        <input type="text" id="group-nam" name="group-nam" ngModel required #groupName>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="!loginForm.valid">Rename</button>
      </div>
    </form>
  </div>
</ng-template>
