<h2 mat-dialog-actions>Create Quiz</h2>
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="quiz-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Quiz name</mat-label>
    <input matInput id="quiz-name" formControlName="name" required>
  </mat-form-field>

  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let qIndex = index" [formGroupName]="qIndex" class="question-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Question {{ qIndex + 1 }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Question</mat-label>
            <input matInput formControlName="question" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option value="0">True/False</mat-option>
              <mat-option value="1">Multiple Choice</mat-option>
            </mat-select>
          </mat-form-field>

          <div formArrayName="answers">
            <div *ngFor="let answer of getAnswers(qIndex).controls; let aIndex = index" [formGroupName]="aIndex" class="answer-row">
              <mat-form-field appearance="fill" class="answer-field">
                <mat-label>Answer {{ aIndex + 1 }}</mat-label>
                <input matInput formControlName="answer" required>
              </mat-form-field>
              <mat-checkbox formControlName="status"></mat-checkbox>

              <button mat-raised-button color="warn" type="button" (click)="removeAnswer(qIndex, aIndex)">Remove Answer</button>
            </div>

            <button mat-raised-button color="success" type="button" (click)="addAnswer(qIndex)">Add Answer</button>
          </div>

          <button mat-raised-button type="button" color="warn" (click)="removeQuestion(qIndex)">Remove Question</button>
        </mat-card-content>
      </mat-card>
    </div>

    <button mat-raised-button type="button" color="success" (click)="addQuestion()">Add Question</button>
  </div>
  <div class="action-buttons">
    <button mat-raised-button color="success" type="submit" [disabled]="quizForm.invalid">Submit Quiz</button>
    <button mat-raised-button color="warn" type="button" (click)="closeDialog()">Cancel</button>
  </div>
</form>

