<mat-card>
  <mat-card-content>
    <button class="child" *ngIf="isCreator || isAdministrator || isModerator" (click)="onAddUser()">Add user</button>
    <button class="child" *ngIf="isCreator || isAdministrator || isModerator" (click)="onRemoveUser()">Remove user</button>
    <button class="child" *ngIf="isCreator|| isAdministrator" (click)="onChangeRole()">Change role</button>
    <button class="child" *ngIf="isCreator" (click)="onRenameGroup()">Rename group</button>
    <button class="child" *ngIf="isCreator" (click)="onDeleteGroup()">Delete group</button>
    <button class="child" *ngIf="!isCreator" (click)="onLeaveGroup()">Leave group</button>
  </mat-card-content>
</mat-card>

