<fa-icon [icon]="icon" title="Log out" (click)="open(content)"></fa-icon>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Log out</h4>
    <button type="button" class="close border" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div>
        <h2>That's it for today?</h2>
        <button type="submit">Log out</button>
      </div>
    </form>
  </div>
</ng-template>
