:host {
  flex-grow: 1;
}

.main {
  display:flex;
  flex-direction: row;
  margin: 10px;
  align-items: stretch;
}

.group-right {
  display:flex;
  flex-direction: column;
  padding-right: 15px;
  max-width: 40vh;
  width: 30vh
}

.group-right-main {
 display: grid;
  font-size: 20px;
}

@media only screen and (min-width: 700px) {
  .group-right-main {
    grid-template-rows: 49% 49% 5%;
  }
}
