:host {
  background-color: #2B2D42;
  color: white;
  padding: 25px;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
}

div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.child {
  flex-grow: 1;
  text-align: center;
}
