:host {
  background-color: #2B2D42;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
}

div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: baseline;
}

.child {
  flex-grow: 4;
  text-align: center;
}
