:host {
  background-color: #edf2f4;
  height: 100vh;
  padding: 10px
}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.child {
  flex-grow: 1;
}
