:host {
  height: 100vh;
  padding: 10px;
}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.child {
  flex-grow: 1;
}
