:host {
  border-radius: 20px;
  background-color: #edf2f4;
  padding: 10px;
  margin: 10px;
  color: #2B2D42;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
  font-size: 20px;
}

p {
  padding: 15px 15px 0
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
}

a {
  text-decoration: none;
  color: #2B2D42;
}

a {
  text-decoration: none;
  color: #2B2D42;
  transition: 0.3s;
}

a:hover {
  font-size: 25px;
  color: #2B2D42;
  transition: 0.3s;
}

