:host {
  background-color: #2B2D42;
  width: 11vh;

}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
